{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Olá, {% if name %}{{name}} {{surname}}{% else %}Estranho{% endif %}!</h1>
    <h3>A sua Insituição de ensino é {{institution}}</h3>
    <h3>Está cursando a disciplina de {{choices[discipline]}}</h3>
    <br>
    <h4>O IP do computador remoto é: {{remote_addr}}</h4>
    <h4>O host da aplicação é: {{remote_host}}</h4>   
</div>
{{ wtf.quick_form(form) }}
<br>
<p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>
{% endblock %}